# Terraform related files
*.tfstate
*.tfstate.backup
.terraform/
.terraform.lock.hcl

# Editor-specific files
.vscode/
.idea/
*.swp

# Node.js dependencies
node_modules/
package-lock.json

# Husky files
.husky/_/
